<div class="releases">
  <h2 class="section--heading dark">Releases</h2>
  <ul class="releases--list">
    {{#each releases.release}}
    <li class="releases--list-item">
      <div class="releases--img-wrapper">
        <img class="releases--img" src="img/{{album-image}}" />
      </div>
      <h2 class="releases--title">{{album-title}}</h2>
      <time datetime="{{datetime}}" class="releases--date">{{release-date}}</time>
      <p class="releases--description">{{description}}</p>
      {{#each album-links}}
        <a class="button dark" href="{{album-link}}">{{album-link-title}}</a>
      {{/each}}
    </li>
    {{/each}}
  </ul>
</div>